asn1crypto
atomicwrites
attrs
certifi
cffi
chardet
colorama
cryptography
dj-database-url
Django
django-cors-headers
django-heroku
django-rest-framework
django-rest-knox
djangorestframework
Faker
gunicorn
idna
importlib-metadata
libgravatar
more-itertools
packaging
pluggy
psycopg2
py
pycparser
pyparsing
pytest
pytest-html
pytest-metadata
pytest-random-order
python-dateutil
python-dotenv
pytz
requests
selenium
six
sqlparse
text-unidecode
urllib3
wcwidth
whitenoise
zipp
